
* {
    font-family: "Quicksand", sans-serif !important;
    -webkit-font-feature-settings:on;
    /* font-family: 'Times New Roman', Times, serif; */
}
#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top_bar_container {
    position:fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0;
    height: 90px;
    z-index: 10;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-color: rgb(220, 220, 220);
    background-color: white;
}
.top_bar {
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    align-items: center;
    top: 0px;
    
    width: 90%;
    height: 100%;
}

.name-icon{
    height: 70px;
}
.left_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.name-shop-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.left-mid-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex: 1;
}
button {
    cursor: pointer;
}
.home-page-btn, .products-btn, .store-btn, .intro-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    height: 91px;
    width: 90px;
    font-size: 16px;
    font-weight: lighter;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(255, 255, 255, 0);
    transition: 0.3s;
}
.home-page-btn:hover, .products-btn:hover, .store-btn:hover, .intro-btn:hover {
    border-bottom-color: black;
    transition: 0.3s;
}
.middle_section {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center ;
}
.lookup_div {
    height: 40px;
    display: flex;
    border: solid;
    border-width: 0.5px;
    border-radius: 50px;
    border-color: rgb(217, 217, 217);
    flex: 0.5
}
.look-up-icon {
    height: 15px;
}
.look-up-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 50px;
}
.look-up-input {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-size: 15x;
    margin-right: 10px;
    /* max-width: 100%;  */
    min-width: 50px;
    flex: 1;
}
.look-up-input:focus {
    border: none;
    outline: none;
}
.right_section {
    display: flex;
    justify-self: space-between;
    margin-left: 10px;
    margin-right: 10px;
}
.cart-btn, .account-btn, .more-btn {
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
    width: 40px;
    height: 40px;
    border: solid;
    border-color: rgb(90, 90, 90);
    border-radius: 50%;
    background-color: white;
    border-width: 1px;
    transition: transform 0.3s;
}
.cart-btn:hover, .account-btn:hover, .more-btn:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
} 
.cart-icon {
    width: 75%;
    margin-left: -3px;
    margin-top: 2px;
}
.hamburger-icon {
    width: 75%;
    margin-top: 3px;
} 
.cart-count-div {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    border: none;
    border-radius: 50%;
}
.cart-count-p {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 12px;
    color: white
}
.account-icon {
    width: 75%;
}
.orange-blue-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 100px;
    width: 90%;
}
#orange_blue:hover .back-orange-blue-btn, #orange_blue:hover .next-orange-blue-btn {
    opacity: 1;
    transition: opacity 0.3s;
}
.orange-blue-btn {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 0px;
    padding-right: 0px;
}
.slide-img {
    width: 100%;
    transition: opacity 0.3s;
}
.back-orange-blue-btn, .next-orange-blue-btn {
    position: absolute;
    bottom: 50% - 2px;
    height: 30px;
    width: 30px;
    border: solid;
    border-color: white;
    border-radius: 50%;
    background-color: white;
    transition: background-color 0.3s;
}
.back-orange-blue-btn {
    opacity: 0;
    transition: opacity 0.3s;
    left: 2%;
}
.next-orange-blue-btn {
    opacity: 0;
    transition: opacity 0.3s;
    right: 2%;
}
.left-arrow-icon, .right-arrow-icon {
    width: 70%;
}
.left-arrow-icon { 
    padding-right: 3px;
}
.right-arrow-icon { 
    padding-left: 3px;
}
.back-orange-blue-btn:hover, .next-orange-blue-btn:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: background-color 0.3s;
}
.back-orange-blue-btn .left-arrow-icon, .next-orange-blue-btn .right-arrow-icon{
    transition: filter 0.3s;
}
.back-orange-blue-btn:hover .left-arrow-icon, .next-orange-blue-btn:hover .right-arrow-icon{
    filter: invert(100%);
    transition: filter 0.3s;
}

.slide-icon {
    background-color: white;
    border: none;
    width: 7px;
    height: 7px;
    bottom: 8%;
    border-radius: 50%;
    position: absolute;
    transition: background-color 1s;
}
.promote-back-div {
    display: block;
    width: 90%;
}
.promote-title-p {
    position: relative;
    top: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}
.promote-container {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    top: 100px;
}
.promotes {
    list-style: none;
    padding: 0;
    display: inline-flex;
}
.promote {
    width: 217px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    border: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 0.5px;
}
.promote:not(:last-of-type) {
    margin-right: 12px;
}
.promote-copy-btn {
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 3px;
}
.promote-title-p {
    color: rgb(132, 88, 50);
}
.promote-name {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}
.promote-descript {
    font-size: 13px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}
@media screen and (min-width:0px) {
    .grid_content {
        
    }
    .left-mid-section {
        display: none;
        opacity: 0;
    }
    .lookup_div {
        flex: 0.8;
        transition: flex 0.6s;
    }   
    .more-btn {
        display: unset;
    }
}

@media screen and (min-width: 767px) {
    .left-mid-section {
        display: flex;
        opacity: 1;
    }
    .lookup_div {
        flex: 0.5;
        transition: flex 0.6s;
    }  
    .more-btn {
        display: none;
    }
}
@media screen and (max-width: 550px) {
    .slide-icon {
        width: 5px;
        height: 5px;
    }
}
@media screen and (max-width: 400px) {
    .slide-icon {
        width: 4px;
        height: 4px;
    }
}
@media screen and (max-width: 300px) {
    .slide-icon {
        width: 3px;
        height: 3px;
        bottom: 15%;
    }
}

@media screen and (max-width: 250px) {
    .slide-icon {
        width: 2px;
        height: 2px;
        bottom: 15%;
    }
}
@media screen and (max-width: 170px) {
    .slide-icon {
        width: 1px;
        height: 1px;
        bottom: 20%;
    }
}
@media screen and (max-width: 700px) {
    .lookup_div {
        width: 150px;
    }
    .more-btn, .account-btn, .cart-btn {
        width: 20px;
        height: 20px;
        padding: 0;
    }
    .hamburger-icon, .cart-icon, .account-icon {
        margin-top: 3px;
        width: 60%;
    }
    .cart-icon {
        margin-left: -1px;
    }
    .cart-count-p {
        font-size: 8px;
    }
    .name-icon {
        height: 40px;
    }
    .top_bar_container {
        height: 60px;
    }
    .lookup_div {
        height: 20px;
    }
    .orange-blue-div {
        top: 70px
    }
}

@media screen and (max-width: 350px) {
    .lookup_div {
        width: 100px;
    }
}